<h1>This is it!</h1>
<div class="col-md-7 image-wrapper">
  
<p><strong> <%= @article.user.username %> </strong></p>
<p><strong> Title: <%= @article.title %> </strong></p>
<p><strong> Description: <%= @article.description %> </strong></p>
