<footer id="sticky-footer" class="py-3 bg-dark text-white">
    
    <h5 class="logo text-orange"> LiFeStYlE <h5>
    <div class="container text-center">
      <small class='text-orange '>
        <%= link_to "Privacy"%>
        <%= link_to "Policy"%>
        <%= link_to "Terms & Conditions"%>
      </small>
      <small>Copyright &copy; <%= link_to 'Gzim Asani', "https://telegrafi.com", class: 'text-white'  %></small>
    </div>
</footer>