@import 'bootstrap/dist/css/bootstrap';

.nav-items {
  left: 40%;
  float: none;
  position: absolute;
}

.nav-right {
position: absolute;
left: 85%;
}

.topnav-right {
  float: right;
}

.fr-color {
  background-color: rgb(129, 79, 3);
}
