
<div class="row no-gutters">
  <% @category.each do |category| %>
  <div class="category col-12 col-sm-6 col-lg-3">
    <div class="category-name" style="background: url(' https://picsum.photos/id/40<%= category.id %>/300') no-repeat; background-size: cover;">
      <%= link_to "#{category.name}", category_path(category), class: 'index-text' %>
    </div>
  </div>
  <% end %>
</div>

