<div class="category">
  <% @category.articles.order(created_at: :desc).each_with_index do |art,i| %>
    <h1><%= link_to art.title, article_path(art.id) %></h1>
    <h2><%= art.description %></h2>
    
  <% end %>
</div>